
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
</head>
<body>
  <div margins="5px" style="margin: 10px; margin-bottom: 0;">
    <a href="../../data.csv">
      <img src="../../images/excel_icon.svg"/>
    </a>
  </div>
  <div class='tableauPlaceholder' id='viz1565725098968' style='position: relative'>
    <noscript>
      <a href='#'>
        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book1_15633017767180&#47;PublicationBreakdown&#47;1_rss.png' style='border: none' />
      </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
      <param name='name' value='Book1_15633017767180&#47;PublicationBreakdown' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book1_15633017767180&#47;PublicationBreakdown&#47;1.png' /> <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
    </object>
  </div>                
  <script type='text/javascript'>                    
    var divElement = document.getElementById('viz1565725098968');
    var vizElement = divElement.getElementsByTagName('object')[0];
    if ( divElement.offsetWidth > 800 ) { 
      vizElement.style.minWidth='100%';
      vizElement.style.maxWidth='100%';
      vizElement.style.minHeight='2004px';
      vizElement.style.maxHeight=(divElement.offsetWidth*0.75)+'px';
    } else if ( divElement.offsetWidth > 500 ) { 
      vizElement.style.minWidth='100%';
      vizElement.style.maxWidth='100%';
      vizElement.style.minHeight='2004px';
      vizElement.style.maxHeight=(divElement.offsetWidth*0.75)+'px';
    } else { 
      vizElement.style.width='100%';
      vizElement.style.height='2577px';
    }                     
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>
</body>
</html>
